<!DOCTYPE html>
<html>
	<head>
		<title>Smart City Register</title>
		{% load static %}
		<meta charset="utf-8">
		<link rel="stylesheet" href=""{% static "login/bg1.jpg" %}"">


<style>
body {
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-position: 50% 50%;
	background-size: cover;
}
a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.body {
	max-width: 1000px;
	margin: 0 auto;
	padding: 40px;
	background-image: url("{% static "global/bg1.jpg" %}");
	background-size: cover;
	z-index: 0;
	text-align: right;
}
@media screen and (max-width: 600px) {
	.body {
		padding: 20px;
	}
}
</style>

	</head>
	<body class="body">
			<form method="POST" action="" class="signup-form">{% csrf_token %}

				<header>Registration form</header>

				<table >
				{% for field in formUser %}
					<tbody>
						<tr>
							<td>
								<label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
							</td>
							<td>
								{{ field }}
							</td>
						</tr>
				{% endfor %}
				</tbody>
			  	</table>
				<table >
				{% for field in formInfo %}
					<tbody>
						<tr>
							<td>
								<label for="{{ field.label }}" style="display:inline-block;vertical-align:middle">{{ field.label_tag }}</label>
							</td>
							<td>
								{{ field }}
							</td>
						</tr>
				{% endfor %}
				</tbody>

			  	</table>
				{{ formUser.errors.as_text }}<p>
				{{ formInfO.errors.as_text }}<p>
				<button type="submit" class="button">Submit</button>
				{{ success }}

			</form>
	</body>
</html>