<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>


</head>
<body>

{% load static %}

    {% if searchTerm == 'college' or searchTerm == 'colleges' %}
    <div name="college" class="row row-bottom-padded-sm">
        <div class="col-md-4 col-sm-6 col-xxs-12">
            <a href="{{ links.colleges }}" target="_blank" class="fh5co-project-item to-animate">
                <img src="{% static "welcome/images/college.jpg" %}" alt="Image" class="img-responsive">
                <div class="fh5co-text">
                <h2>Colleges</h2>
                <span>Students</span>
                </div>
            </a>
    </div>
    {% endif  %}



    {% if searchTerm == 'library' or searchTer == 'libraries' %}
    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.libraries }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/library.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Libraries</h2>
            <span>Students</span>
            </div>
        </a>
    </div>
    {% endif %}

    {% if searchTerm == 'industries' or searchTerm == 'industry' %}
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.industries }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/industry.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Industries</h2>
            <span>Business</span>
            </div>
        </a>
    </div>
    {% endif %}


    {% if searchTerm == 'hotel' or searchTerm == 'hotels' %}
    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.tourists }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/hotel.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Hotel</h2>
            <span>Business/Tourists</span>
            </div>
        </a>
    </div>
    {% endif %}

    {% if searchTerm == 'parks' or searchTerm == 'park' %}
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.parks }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/park.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Parks</h2>
            <span>City Info</span>
            </div>
        </a>
    </div>
        {% endif %}


    {% if searchTerm == 'zoo' or searchTerm == 'zoos' %}
    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.zoos }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/zoo.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Zoo</h2>
            <span>City Info</span>
            </div>
        </a>
    </div>
    {% endif %}


    {% if searchTerm == 'museum' or searchTerm == 'museums' %}
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.museums }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/meseum.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Museums</h2>
            <span>City Info</span>
            </div>
        </a>
    </div>
    {% endif %}


    {% if searchTerm == 'restaurant' or searchTerm == 'restaurants' %}
    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.restaurants }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/restaurant.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Restaurants</h2>
            <span>City Info</span>
            </div>
        </a>
    </div>
    {% endif %}

    {% if searchTerm == 'mall' or searchTerm == 'malls' %}
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-4 col-sm-6 col-xxs-12">
        <a href="{{ links.malls }}" target="_blank" class="fh5co-project-item to-animate">
            <img src="{% static "welcome/images/mall.jpg" %}" alt="Image" class="img-responsive">
            <div class="fh5co-text">
            <h2>Mall</h2>
            <span>City Info</span>
            </div>
        </a>
    </div>
        {% endif %}

    </div>

</body>
</html>