<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>


</head>
<body>

{% load static %}

    {% if searchTerm == 'students' or searchTerm == 'Students' %}
    <div name="college" class="row row-bottom-padded-sm">
        <div class="col-md-4 col-sm-6 col-xxs-12">
            <a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.476964786349825%2C153.02327285&z=14" target="_blank" class="fh5co-project-item to-animate">
                <img src="{% static "welcome/images/college.jpg" %}" alt="Image" class="img-responsive">
                <div class="fh5co-text">
                <h2>Colleges</h2>
                <span>Students</span>
                </div>
            </a>
    </div>
    {% endif  %}




    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.472898467407838%2C153.0311175543876&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/library.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Libraries</h2>-->
            <!--<span>Students</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->



    <!--<div class="clearfix visible-sm-block"></div>-->
    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.465244977305126%2C153.03957187720255&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/industry.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Industries</h2>-->
            <!--<span>Business</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->



    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.465244977305126%2C153.03957187720255&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/hotel.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Hotel</h2>-->
            <!--<span>Business/Tourists</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->


    <!--<div class="clearfix visible-sm-block"></div>-->
    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.465244977305126%2C153.03957187720255&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/park.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Parks</h2>-->
            <!--<span>City Info</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->



    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.465244977305126%2C153.03957187720255&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/zoo.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Zoo</h2>-->
            <!--<span>City Info</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->



    <!--<div class="clearfix visible-sm-block"></div>-->
    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.465244977305126%2C153.03957187720255&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/meseum.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Museums</h2>-->
            <!--<span>City Info</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->



    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.465244977305126%2C153.03957187720255&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/restaurant.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Restaurants</h2>-->
            <!--<span>City Info</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->


    <!--<div class="clearfix visible-sm-block"></div>-->

    <!--<div class="col-md-4 col-sm-6 col-xxs-12">-->
        <!--<a href="https://www.google.com/maps/d/u/0/edit?mid=11iHNawxKju6bwaqLyvACOZzsSaQ&ll=-27.465244977305126%2C153.03957187720255&z=15" target="_blank" class="fh5co-project-item to-animate">-->
            <!--<img src="{% static "welcome/images/mall.jpg" %}" alt="Image" class="img-responsive">-->
            <!--<div class="fh5co-text">-->
            <!--<h2>Mall</h2>-->
            <!--<span>City Info</span>-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->

    </div>

</body>
</html>